.project-container {
    height: 100%;
}

.project-container h2 {
    color: white;
    padding: 15px;
    font-weight: 100;
    opacity: 0.7;
}

.projects-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.projects-box div {
    margin: 30px;
    margin-top: 0;
    width: 300px;
    height: 300px;
    transition: 1s ease;
}