.Service {
    background: #0f0f0f;  
}

.Service .title {
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.Service .icons-container {
    display : flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding : 30px 40px;
}

.Service .icons-container .item {
    list-style: none;
    color : #313131;
    font-size: 45px;
    margin : 5px;
}

.Service .icons-container .item:hover {
    cursor : pointer;
}

#javascript:hover {
    color: yellow;
}

#mongodb:hover {
    color : green;
}

#typescript:hover {
    color : blue;
}

#mysql:hover {
    color : cyan;
}

#jest:hover {
    color : orangered;
}

#salesforce:hover {
    color: skyblue;
}

#html5:hover {
    color : orange;
}

#react:hover {
    color : skyblue;
}

#css3:hover {
    color : blue;
}