.about-container {
    font-family: 'Roboto Mono', monospace;
    background-color: #0a192f;
    color:white;
}

.about-container h2 {
    padding: 15px;
    font-weight: 100;
    opacity: 0.7;
}


.about-container span {
    font-weight: bold;
    font-size: 20px;
}

.about-container p {
    width: 90%;
    line-height: 1.7;
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;
}

.about-section {
    width: 100%;
    display: flex;
    align-items: center;
}

.about-section p {
    width: 30%;
    line-height: 1.7;
}

.about-section img {
    width: 300px;
    height: 300px;
}

.technologies {
    margin-top: 20px;
    width: 100%;
    height: 11vh;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.technologies li {
    width: 20%;
    text-align: left;
    list-style: none;
    opacity: 0.7;
}

@media screen and (max-width:768px){
    .about-section {
        flex-direction: column;
    }

    .about-section p {
        width: 90%;
        margin-bottom: 20px;
    }

    .technologies {
        height: 13vh;
    }

    .technologies li  {
        width: 40%;
    }
}