.card-container { 
    background-color: #112240;
    padding: 10px;
    height: 100%;
}

.card-container:hover {
    transform: scale(1.1);
}

.card-container span{
    color: white;
    opacity: 0.7;
}

.card-container a{
    height: 70%;
    text-decoration: none;
    color: white;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container svg {
    font-size: 50px;
    color: #60f6d3;
}

.card-container a p {
    padding-top: 10px;
    padding-bottom: 10px;
}