---
import Layout from '../layouts/Layout.astro';
import Column from '@/components/Column.astro'
import Hero from '@/components/Hero.astro';
import Profile from '@/components/Profile.astro';
import PersonalData from '@/components/PersonalData.astro';
import Skills from '@/components/Skills.astro';
---

<Layout title="Welcome to Astro.">
	<Column>
		<Hero/>
		<PersonalData/>
		<Profile/>
		<Skills/>
	</Column>
	<Column>
		<span>Ejercicio 2</span>
	</Column>
</Layout>

<style>
	
</style>
