---
import Layout from '../layouts/Layout.astro';
import Column from '@/components/Column.astro'
import Hero from '@/components/Hero.astro';
import Profile from '@/components/Profile.astro';
import PersonalData from '@/components/PersonalData.astro';
import Skills from '@/components/Skills.astro';
import Experience from '@/components/Experience.astro';
import Education from '@/components/Education.astro';
import KeyboardManagar from '@/components/KeyboardManagar.astro';

---

<Layout title="Ezequiel Arias">
	<main>
		<Column>
			<Hero/>
			<PersonalData/>
			<Profile/>
			<Skills/>
		</Column>
		<Column>
			<Experience/>
			<Education/>
		</Column>
	</main>
	<KeyboardManagar/>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		padding: 4rem;
		width: 100%;
		background-image: url('../../public/FondoCVweb.png');
		background-size: cover;
		background-repeat: no-repeat;
	}

	h1,h2,h3,h4{
		color : #404040 !important;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
	}

	@media (width <= 400px){
		main {
			flex-direction: column;
			padding : 15px;
		}
	}

</style>

<script>


</script>
