---
import Layout from '../layouts/Layout.astro';
const carrouselArr = [
  '../img/Tamagochi.png',
  '../img/ChillApp.png',
  '../img/Countries.png',
  '../img/Kine.png',
  '../img/Pokedex.png'
];

const tooltips = [
    {
        link : "https://github.com/EzequielArias/Tamagochi-ReactNative",
        description : "Descripcion : Tamagochi con seleccion de personajes, barras de vida y botones para interactuar \nTecnologias : ReactNative, CSS"
    },
    {
        link : "https://github.com/EzequielArias/ChillApp",
        description : "Descripcion : Aplicacion de chat en tiempo real, con login chats individuales, seleccion de avatar, edicion de perfil y tweets \nTecnologias : React, HTML, CSS, NodeJS, Express, JWT, Axios, Typescript, MongoDB, Jest, Redux, DDD, TDD, Patrones de diseño"
    },
    {
        link : "https://dashing-chimera-c833f2.netlify.app/",
        description : "Descripcion : Catalogo de paises con filtros y buscador\nTecnologias : React, HTML, CSS, NodeJS, Typescript, Fetch "
    },{
        link : "https://github.com/EzequielArias",
        description : "Descripcion : Sistema de gestion para clinica de kinesiologia con automatizacion de calendario, roles de admin, filtros y mas \nTecnologias : React, HTML, CSS, NodeJS, Typescript, MongoDB, Jest, Redux, DDD, TDD, Patrones de diseño"
    },{
        link : "https://formar-react-challenge-dzembj7l9-ezequielarias.vercel.app/",
        description : "Descripcion : Catalogo de pokemons con filtrado, buscador y vista de detalle. \nTecnologias : React, HTML, CSS, Typescript, Redux, Patrones de diseño, Axios"
    },
]

---
<Layout title='Ezequiel Arias'>
    <div class="container">
        <h2>Proyectos</h2>
        <div>
            {
                carrouselArr.map((img, i) => {
                    return  ( 
                        <a href={tooltips[i].link} target="_blank">
                            <img src={img} alt="123" title={tooltips[i].description}/>
                        </a> 
                        )
                })
            }
        </div>
    </div>
</Layout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../public/FondoCVweb.png');
        background-size: cover;
		background-repeat: no-repeat;
    }

    h2 {
        margin-top: 70px;
        text-align: center;
        margin-bottom: 30px;
     }

     div {
        display: flex;
        flex-wrap: wrap;
     }

     a {
        width: 33%;
     }

    img {
        object-fit: contain;
        height: 300px;
        width: 100%;
        padding: 15px;
        transition: transform 0.3s ease; 
    }

    img:hover {
        transform: scale(1.1); 
        cursor: pointer;
    }
</style>


<script>
    /*const $ul = document.querySelector('ul');

    setInterval(() => {
        const firstChild = $ul?.firstElementChild;
        const lastChild = $ul?.lastElementChild;
        $ul!.insertBefore(firstChild!, lastChild!.nextSibling);
        console.log('Change');
    }, 2000)*/

    /**
     Hacer un array movible que cada elemento se mueva a su espacio siguiente y si
     es el ultimo elemento del array que vuelva a ser el primero
     */
</script>