.container-about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a192f;
}

.container-about span {
    font-family: 'Roboto Mono', monospace;
    color: white;
    opacity: 0.7;
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 70px;   
    margin-top: 15px;
    color: white;
    opacity: 0.7;
    
    white-space: nowrap;
    border-right: 4px solid #60f6d3;
    width: 14ch;
    overflow:hidden;
    animation: typing 2s steps(14), blink .5s infinite step-end alternate;
}

.subTitle{
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
    margin-top:15px;
    margin-bottom:15px;
    color: white;
    opacity: 0.7;

}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink{
    50% { border-color: transparent;}
}

@media screen and (max-width:768px){
    .title {
        font-size: 45px;   
    }

    .container-about span {
        width: 90%;
        text-align: center;
    }
}