---

---


<section>
    <div>
        <figure>
            <img src="../../public/img/ezePokerFace.jpeg" alt=""/>
        </figure>
    </div>
    <h2>Ezequiel <br/> Arias</h2>
    <h4>Programador Fullstack</h4>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 100%;
        height: auto;

        border-right: 1px solid #2f596e;
        padding-right: 15px;
    }

    figure {
        border-radius: 50%;
        border : 2px solid #2f596e;
        padding : 5px;
    }

    img {
        object-fit: cover;
        border-radius: 50%;
        width : 155px;
        height : 155px;
    }

    h2 {
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

    h4 {
        margin-top: 10px;
    }

</style>