---

---

<section>
    <div>
        <figure>
            <span class="circle"></span>
            <span class="circle2"></span>
            <img src="../img/Ezequiel2.png" alt=""/>
        </figure>
    </div>
    <h2>Ezequiel <br/> Arias</h2>
    <h1>Fullstack developer</h1>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 100%;
        height: auto;

        border-right: 1px solid #2f596e;
        padding-right: 15px;
    }

    
    figure {
        border-radius: 50%;
        border : 2px solid #2f596e;
        padding : 5px;
        position: relative;
    }

    img {
        object-fit: cover;
        border-radius: 50%;
        width : 155px;
        height : 155px;
        padding: 5px;
        z-index: inherit;
    }

    h2 {
        font-size: 35px;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        font-weight: 600;
        width: 100%;
    }

    .circle2 {
        width: 19px;
        height: 19px;
        background: #2f596e;
        border-radius: 50%;
        position: absolute;
        top : 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        margin : 135px;
    }

    .circle {
        width: 19px;
        height: 19px;
        background: #2f596e;
        border-radius: 50%;
        position: absolute;
        top : 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        margin : 14px;
    }

    figure > .circle {
        width : 19px;
        height: 19px;
        border-radius: 50%;
        position: absolute;
        top : 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        margin: auto;
        --webkit-animation : circle 10s linear infinite;
        animation : circle 10s linear infinite;
    }

    figure > .circle2 {
        width : 19px;
        height: 19px;
        border-radius: 50%;
        position: absolute;
        top : 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        margin: auto;
        --webkit-animation : circle2 10s linear infinite;
        animation : circle2 10s linear infinite;
    }

    @-webkit-keyframes circle {
        0%{
            transform: rotate(0deg)translate(-165px)rotate(0deg);
        }

        100%{
            transform: rotate(360deg)translate(-165px)rotate(-360deg);
        }
    }

    @keyframes circle {
        0% {
            transform: rotate(0deg)translate(-85px)rotate(0deg);
        }
        100%{
            transform: rotate(360deg)translate(-85px)rotate(-360deg);
        }
    }

    @keyframes circle2 {
    0% {
        transform: rotate(360deg) translate(-85px) rotate(-360deg);
    }
    100% {
        transform: rotate(0deg) translate(-85px) rotate(0deg);
    }
}

</style>