---
    import 'hotkeypad/reset.css'
    import 'hotkeypad/index.css'
    import { basics } from "@/cv.json";
    import Linkedin from '../icons/Linkedin.astro';
    import Github from "../icons/Github.astro";
    import Threads from "../icons/Threads.astro";
    import CV from '../icons/CV.astro';
---

<footer id="normal-footer" class="no-print">
  Pulsa <kbd>Cmd</kbd> + <kbd>K</kbd> para abrir / cerrar la paleta de comandos.
</footer>

<div class="modal" id="popup">
  <div class="modal-content">
    <a class="block" id="Linkedin" href="https://www.linkedin.com/in/ezequiel-arias734/" target="_blank"><Linkedin height={100} width={100}/></a>
    <a class="block" id="Github" href="https://github.com/EzequielArias" target="_blank"><Github height={100} width={100}/></a>
    <a class="block" id="Threads" href="https://www.threads.net/@ezekiel.arias_" target="_blank"><Threads color='#ffff'/></a>
    <a class="block" id="CV" href="../public/EzequielAriasCV.pdf" target="_blank"><CV/></a>
  </div>
</div>

<script>
  import hotkeys from 'hotkeys-js';

  hotkeys('ctrl+k', function(event, handler){
    // Prevent the default refresh event under WINDOWS system
    event.preventDefault()
    const popup = document.getElementById("popup");
    window.scrollTo({
        top: 0,
        behavior: "smooth"
    });
    if(popup?.classList.value.includes("custom-alert-active")){
      popup.classList.remove("custom-alert-active");
    }else{
      popup?.classList.add("custom-alert-active");
    }
  });

</script>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (min-width: 601px) {
    #normal-footer {
      display: block;
    }

    #footer-button {
      display: none;
    }
  }

  @media (max-width: 600px) {
    #normal-footer {
      display: none;
    }

    #footer-button {
      background: #fff;
      position: fixed;
      border: 1px solid #eee;
      right: 10px;
      bottom: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

footer {
    background: #fdfdfd;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-block: 8px;
    text-align: center;
    font-size: 0.85rem;

    view-timeline-name: --revealing;
    view-timeline-axis: block;

    animation: linear 0.3s fadeIn;
    animation-timeline: --revealing;
    animation-range: entry 100% cover 10%;
}

kbd {
    background: #eee;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.custom-alert-active {
  visibility: visible;
}

.modal-content {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.block {
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    background-color: black;
    border-radius: 5px;
    padding : 10px;
    color : #2f596e !important;
}


#Linkedin {
  color : white !important;
}

#Linkedin:hover {
  background-color: #0a66c2;
}

#Github {
  color : white !important;
}

#Github:hover {
  background: #071329;
}

#CV {
  color : white !important;
}

#CV:hover {
  background : red;
}

#Threads {
  color : white !important;
}

#Threads:hover {
  background: linear-gradient(#0a66c2, #630b57);
  color : black !important;
}

#Threads svg {
  margin : 10px 0 0 0;
}

</style>